@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}
.btn {
  background-color: #410076;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 0px;
  font-size: 18px;
  cursor: grab;
  transition: 0.3s;
}
body {
  padding: 0;
  margin: 0;
}
